.error-container {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .error-container h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .error-container p {
    font-size: 1rem;
  }
  