#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#city-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#forecast-container {
  display: flex;
  flex-direction: row;
}
#city-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#forecast {
  margin-inline: 2.5rem;
}

#current-temp {
  font-size: 1rem;
}
h1{
  text-align: center;
}
